@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Inconsolata relstylesheet'); 


*,html, body { 
	font-family: 'Inconsolata', monospace;
}
body{
  	background-color: #1D2839; 	 
}

/*titulo*/
h1 {
	font-size: 50px;
	text-align: center;
  font-family: 'Cinzel Decorative', cursive;
  color: white;
}

div:first-of-type{
  
  background-color:#373C42;
  background-repeat: no-repeat;
  background-position: bottom;
  filter:brightness(0.8);
}

div:last-of-type  {
  background-color:#373C42;
  color: white;
}

p{
  color: white;
}



/* switch - cuadro para  variador de vent */

label{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
label input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:  #C14E04;
  -webkit-transition: .4s;
  transition: .4s;
}

span:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + span {
  background-color: #3AC104;
}

input:focus + span {
  box-shadow: 0 0 1px #3AC104;
}

input:checked + span:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

span{
  border-radius: 34px;
}

span:before {
  border-radius: 50%;
}



/* barra*/
input[type="range"]{
  -webkit-appearance: none;
  width: 50%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .4s;
  transition: opacity .2s;
}

/* bola*/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
input[type="range"]:hover {
  opacity: 1; /* Fully shown on mouse-over */
}